# for deploying your contracts to remote blockchain rename this file to ".env" and fill empty values
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
INFURA_ID=
DEFAULT_TASK_NETWORK=rinkeby
DEFAULT_VOTING_PLATFORM_ADDRESS=0xB62f10bF9482B5bD57397a9abCc860ca774361c6
